<style>
    .widget-user-header {
        background: url('/imgs/user_cover.jpeg') center center !important;
        background-size: cover !important;
        height: 250px !important;        
    }
    .card {
            box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    }
</style>
<template>
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user" >
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header text-white" style=" ">
                <h3 class="widget-user-username text-right" v-html="this.form.name"></h3>

                <h5 class="widget-user-desc text-right">{{this.form.type}}</h5>
              </div>
              <div class="widget-user-image">
                <!--default img:  /imgs/user.png -->
                <!-- :src is bind property with func. -->
                <img class="img-circle" :src="changeProfilePhoto()" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">SALES</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">FOLLOWERS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">PRODUCTS</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.widget-user -->
          </div>
        </div>
        <div class="row">
             <div class="col-md-12">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="activity">
                    <!-- Post -->
                    <h3>No Activity</h3>
                    <!-- /.post -->
                  </div>
                  <!-- /.tab-pane -->
     
                  <div class="tab-pane" id="settings">
                        <form class="form-horizontal"  @submit.prevent = "updateUser"> 
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" v-model="form.name" 
                                placeholder="Your name" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>   
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email" v-model='form.email'  
                                 placeholder="Enter email" :class="{ 'is-invalid': form.errors.has('email') }">
                                <small  class="form-text text-muted">Your privacy is our concern.</small>
                                <has-error :form="form" field="email"></has-error>   

                            </div>
                            <div class="form-group">
                                <label for="bio">Experience</label>
                                <textarea class="form-control" name="bio" v-model="form.bio" rows="3"
                                    :class="{ 'is-invalid': form.errors.has('bio') }" ></textarea>
                                <has-error :form="form" field="bio"></has-error>   
                            </div>
                            <div class="form-group">
                                <label for="photo">Photo Profile</label>
                                <div class="form-group">
                                    <input name="photo" type="file"  :class="{ 'is-invalid': form.errors.has('photo') }"
                                      @change="encodeImg"  />
                                    <has-error :form="form" field="photo"></has-error>   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password (Leave it empty if not changing.)</label>
                                <input type="password" class="form-control" name="password" v-model="form.password"
                                 placeholder="Password" :class="{ 'is-invalid': form.errors.has('password') }" >
                                <has-error :form="form" field="password"></has-error>   
                            </div>
                            
                            <button type="submit" class="btn btn-success">Update</button>
                        </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                profilePhoto: '',
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    bio: '',
                    photo: '',
                    type: '',

                })
            }
        },
        mounted() {
          console.log('Component mounted, ' );
        },
        // Built in func, when vue created
        created() {
            // On page load fill the form
            this.getProfile();

            // On event call (refreshProfile), fill the form
            fireEmit.$on('refreshProfile', ()=>{
              this.getProfile()
            });
        },
        methods: {
            updateUser(){
                this.$Progress.start(); 
                this.form.post('/api/update_profile')
                    .then( (data) =>{  // << If Success   
                    // Get from update return the profile photo from server
                        fireEmit.$emit('refreshProfile');
                        Toast.fire({
                            icon: 'success',
                            title: 'User profile updated successfully'
                        });
                        this.$Progress.finish();
                    }) 
                    .catch( () =>{ 
                        this.$Progress.failed();

                        /* In case of failed excute this */ 
                        Toast.fire({
                            icon: 'error',
                            title: 'Failed to update user profile'
                        });
                    } ) // If Failed
            },
            encodeImg(el){

              let img_file = new FileReader();

              if( el.target.files[0].size > 2097152)
              {

                Swal.fire(
                        'Error!',
                        'You uploaded more than 2 MB image.',
                        'error'
                        )
              }
              else{
                img_file.readAsDataURL(el.target.files[0]) ;
                img_file.onloadend = () =>{ 
                  // Store the hasing profile photo val for not changing photo profile before update
                // this.profilePhoto  = img_file.result;
                this.form.photo = img_file.result;
                }
              }
              
            },
            changeProfilePhoto(){
                // On page load change the profile photo with full path
                // If the user change the image the src property can read the base64 encoding
                return (this.form.photo.length > 200 ? this.form.photo : "imgs\\profile\\" + this.form.photo);
                
            },
            getProfile(){
              axios.get('/api/profile')
                .then((data) => {
                    this.form.fill(data.data);
                })
                .catch(() => {
                    // Catch Error on load
                     Swal.fire(
                        'Error!',
                        'Failed to load user profile.',
                        'error'
                        )
                });
            }
        },
        
    }
</script>
