<template>
    <div class="container mt-4">
        <div class="row justify-content-center" v-if="$gate.isAdmin() || $gate.isAuthor()">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users Profile</h3>

                        <div class="card-tools">
                            <button class="btn btn-success "  @click="newModal">New User <i class="fas fa-user-plus fa-fw"></i></button>
                        </div>
                    </div>
                        <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Type</th>
                            <th>Registered AT</th>
                            <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users.data" :key="user.id">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.type | upText}}</td>
                                <td>{{user.created_at | strDate}}</td>
                                
                                <td>
                                    <a href="#" class="blue" @click="updateModal(user)"><i class="fas fa-edit"></i></a>
                                    |
                                    <a href="#" class="red" @click="delUser(user.id)"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            
                        </tbody>
                        </table>
                    </div>
                        <!-- /.card-body --> 
                </div>
                        <pagination :data="this.users" @pagination-change-page="getResults"></pagination>

            </div>
            <!-- Modal Window -->
            <form @submit.prevent="editmode ? updateUser():createUser()">
            <div class="modal" id='userModal' tabindex="-1" role="dialog">
                <div class="modal-dialog .
                modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode">Add New</h5>
                        <h5 class="modal-title" v-show="editmode">Update User's Info.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <!-- <input type="text" hidden name='id' v-model="form.id"> -->
                            <input v-model="form.name" type="text" name="name" placeholder="Name"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.email" type="email" name="email" placeholder="Email"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.password" type="password" name="password" placeholder="Password"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="type">Type</label>
                            </div>
                            <select class="custom-select form-control" name="type" v-model="form.type"
                                :class="{'is-invalid': form.errors.has('type')}" >
                                <option selected>Choose...</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                                <option value="author">Author</option>
                            </select>
                            <has-error :form="form" field='type'></has-error>
                        </div>
                        <div class="form-group">
                            <textarea v-model="form.bio" type="text" name="bio" rows="2" 
                            placeholder="Short bio for user (optional)" dir="ltr"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }">
                            </textarea>
                            <has-error :form="form" field="bio"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" v-show="!editmode" class="btn btn-primary">Create</button>
                        <button type="submit" v-show="editmode" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
            </form>
            <!-- End of modal -->
        </div>
        <div v-if="! ($gate.isAdmin() ||  $gate.isAuthor())">
            <h3 class="text-center">Page Not Found !</h3>
            <not-found></not-found>
        </div>
    </div>

    
</template>

<script>
    export default {
        data(){
            return {
                editmode: false,
                users: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    type: '',
                    bio: '',
                    photo: '',

                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
            this.loadUsers();
            // bind anonmums fnc to loadusers
            // One way of auto update the users page looking for any changes
            // Cons: Not good perfomance tip.
            // setInterval(() => this.loadUsers(), 3000);
            // -- ****************** -- //
            // Another Way of refresh user page after changes.
            // Listing to emit event
            fireEmit.$on('afterMod', () =>  this.loadUsers() );
            fireEmit.$on('searching', () =>{
                axios.get('/api/search?q='+ this.$parent.skey ).then(response => {
                    this.users = response.data;
				});

            });
        },
        methods: {
            createUser(){
                this.$Progress.start();
                this.form.post('/api/user')
                    .then( () =>{  // << If Success
                        // Fire userCreated event
                        fireEmit.$emit('afterMod');
                        $('#userModal').modal('hide');
                        Toast.fire({
                            icon: 'success',
                            title: 'User registered successfully'
                        });
                        this.$Progress.finish();
                    }) 
                    .catch( () =>{ /* In case of failed excute this */ 
                        this.$Progress.failed(); 
                    } ) // If Failed
                
            },
            updateUser(){
                this.$Progress.start(); 
                this.form.put('/api/user/' + this.form.id)
                    .then( () =>{  // << If Success
                        // Fire userCreated event
                        fireEmit.$emit('afterMod');
                        $('#userModal').modal('hide');
                        Toast.fire({
                            icon: 'success',
                            title: 'User updated successfully'
                        });
                        this.$Progress.finish();
                    }) 
                    .catch( () =>{ 
                        this.$Progress.failed();

                        /* In case of failed excute this */ 
                        Toast.fire({
                            icon: 'error',
                            title: 'Failed to update user'
                        });
                        } ) // If Failed
                

            },
            // you can call this fn inside created like --- this this.loadUsers() ---
            loadUsers(){
                // if(this.$gate.isAdmin() || this.$gate.isAuthor() )
                if( this.$gate.isAdminOrAuthor() )
                    axios.get('/api/user').then( data => {this.users = data.data});
            },
            delUser($id){

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/user/'+$id)
                            .then(()=>{
                                // Emit(Fire Event) a user has been deleted.
                                fireEmit.$emit('afterMod');

                                Swal.fire(
                                'Deleted!',
                                'User has been deleted.',
                                'success'
                                )

                            })
                            .catch( (err)=>{
                                Swal.fire(
                                'Error!',
                                err.response.data.message,
                                'error'
                                )
                            });
                        
                    }
                });
            },
            updateModal($user){
                this.editmode = true;
                this.form.clear();
                $('#userModal').modal('show');
                this.form.fill($user);
            },
            newModal(){
                this.editmode = false;
                this.form.clear();
                this.form.reset();
                $('#userModal').modal('show');
            },
            getResults(page = 1){
                axios.get('api/user?page=' + page)
				.then(response => {
                this.users = response.data;
				});
            },

        },       

    }
</script>
